<div class="container-fluid bgc-white pd-10" *ngIf="regularHoursData">
    <div class="pd-10 mg-20">
        <div class="dropdown w-200 mb-20">
            <button class="btn btn-secondary dropdown-toggle" style="width: 160px !important" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{(menuType != null)? menuType : "Menu Type"}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngFor="let item of menuTypes">
                    <a class="dropdown-item" (click)="onMenuTypeChange(item)">{{item}}</a>
                </div>
            </div>

        </div>
        <div *ngFor="let weekDay of regularHoursData" class=" days-list">
            <div class="row">
                <p class="col-md-3 as-c fw-600 fs-16 week-day">{{weekDay.day}}</p>
                <select class="custom-select as-c col-md-2" [(ngModel)]="weekDay.sessions[0].from" >
                    <option *ngFor="let item of timeList">{{item}}</option>
                </select>
                <span class="as-c span-h"> - </span>
                <select class="custom-select as-c  col-md-2"  [(ngModel)]="weekDay.sessions[0].to">
                    <option *ngFor="let item of timeList">{{item}}</option>
                </select>
                <div class="col-md-2 as-c fw-500 fl-r">
                    <input type="checkbox"> <span class="cl-g"> Closed for the day?</span>
                </div>
                <br/>
                <div class="col-md-5">
                </div>
            </div>

            <div class="row">
                <p class="col-md-3 as-c fw-600 fs-16 week-day"></p>
                <select class="custom-select as-c col-md-2"  [(ngModel)]="weekDay.sessions[1].from">
                    <option *ngFor="let item of timeList">{{item}}</option>
                </select>
                <span class="as-c span-h"> - </span>
                <select class="custom-select as-c  col-md-2"  [(ngModel)]="weekDay.sessions[0].to">
                    <option *ngFor="let item of timeList">{{item}}</option>
                </select>

                <div class="col-md-2 as-c fw-500 fl-r">
                </div>
                <br/>
                <div class="col-md-5">

                </div>

            </div>
        </div>

    </div>
</div>