/* input{
    border: none !important;
    font-weight: 800 !important;
    width: 40px !important;
} */

.days-list{
    background: white;
    border: 1px solid lightgray;
    /* margin: 8px; */
    padding: 4px;
    height: 75px;
}


.business-hours{
    font-size: 12px;
}

.span-h{
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.fs-16{
    font-size: 16px;
}

.week-day{
    padding-left: 65px;
    margin-bottom: 0px;
}

.mb-20{
    margin-bottom: 20px;
}

.wd-none{
    width: 45% !important;
}

.hours-div{
    /* border: 5px solid lightgray; */
    padding: 3px;
}