input{
    height: 50px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 20px;
}

.dropdown button{
    height: 50px; 
    width: 300px !important;
}

.dropdown .btn{
    text-align: left;
    padding-left: 20px !important;
}