<div class="container-fluid bgc-white pd-10">
    <div class="pd-10 mg-20 pd-l-15" style="margin-left:15%;     padding: 30px;">
        <div class="col-md-9">
            <div style="
            border-bottom: 1px solid lightgray; margin-bottom: 20px;">
                    <h3 style="    margin-bottom: 20px;">Edit Modifier Set</h3>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <input placeholder="Deluxe Add-On's">
                </div>
                <div class="col-md-6">
                    <input placeholder="Internal Label">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="dropdown">
                        <button class="btn btn-no-bg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{selectedSelection}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div *ngFor="let item of selectionList">
                                <a class="dropdown-item" (click)="selectionListChange(item)">{{item}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dropdown">
                        <button class="btn btn-no-bg dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{requiredCriteria}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div *ngFor="let item of requiredCriteriaArray">
                                <a class="dropdown-item" (click)="requiredCriteriaArrayChange(item)">{{item}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
                <div style="
                border-bottom: 1px solid lightgray; margin-bottom: 20px;margin-top: 30px">
                        <h3 style="    margin-bottom: 20px;">Modifiers</h3>
    
                </div>
            <div class="col-md-6" style="padding: 0px; margin-bottom: 15px;">

                <!-- <li class="list-group-item list-group-item-secondary row li-bg as-c">
                    <span class="col-md-4 mr-20">Add Modifier</span>
                    <span class="col-md-4 fl-r"><a (click)="addModifier()"><i-plus-square></i-plus-square></a></span>
                </li> -->
                <button type="button" (click)="addModifier()" class="btn btn-primary btn-lg">Add Modifier</button>
                </div>
            <div *ngIf="addModifiers.length > 0">
                <div class="card" style="border: none">
                    <div class="card-body" style="padding: 0px;">
                      <div *ngFor="let item of addModifiers" style=" border: 1px solid rgba(0,0,0,.125); margin-bottom: 15px;">
                        <div style="padding: 10px; margin: 10px; background: #f7f8f8">
                        <div>
                            <input style="width: 100%;" placeholder="Modifier Title">
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                              <input placeholder="$ 0.00">
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown">
                                    <button class="btn btn-no-bg dropdown-toggle" style="width: 280px !important" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{requiredCriteria}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div *ngFor="let item of requiredCriteriaArray">
                                            <a class="dropdown-item" (click)="requiredCriteriaArrayChange(item)">{{item}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div>
        </div>