<nav class="col-md-2 d-none d-md-block bg-white sidebar fs-17">
    <div class="sidebar-sticky"  *ngIf="!(dashboardService.menuItemsCategory)" >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': (isActive == 'Dashboard')}" (click)="(isActive = 'Dashboard')" routerLink="/home">
              <i-home></i-home>
              Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [ngClass]="{'active': (isActive == 'Orders')}" (click)="(isActive = 'Orders')"  routerLink="/orders">
              <i-file></i-file>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [ngClass]="{'active': (isActive == 'Statements')}" (click)="(isActive = 'Statements')"   routerLink="/statements">
              <i-shopping-cart></i-shopping-cart>
            Statements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [ngClass]="{'active': (isActive == 'Reports')}" (click)="(isActive = 'Reports')" routerLink="/reports">
              <i-users></i-users>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link"  [ngClass]="{'active': (isActive == 'Menu')}"  routerLink="/menu"  data-toggle="collapse" href="#menuCollapse" role="button" aria-expanded="false" aria-controls="menuCollapse">
              <i-bar-chart-2></i-bar-chart-2>
            Menu
          </a> -->
          <a class="nav-link" [ngClass]="{'active': (isActive == 'Menu')}" data-toggle="collapse" href="#menuCollapse" role="button" aria-expanded="false" aria-controls="menuCollapse">
              <i-bar-chart-2></i-bar-chart-2>
              Menu
            </a>
          
        </li>

        <div class="collapse" id="menuCollapse">
            <div class="card card-body menu-collapse">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link  clr-gray"  routerLink="/menuCategories">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  clr-gray"  routerLink="/menu">
                            Menu
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  clr-gray"  routerLink="/promotions">
                          Promotions
                      </a>
                  </li>
             
                  </ul>              </div>
          </div>
<!-- 
        <div class="collapse show" id="collapseExample"   *ngIf="(dashboardService.menuItemsCategory)">
          <div>
            <div>
              <ul class="nav flex-column">
                <li *ngFor="let item of this.dashboardService.menuItemsCategory" class="nav-item"><button type="button" style="background: none;" class="btn" (click)="selectedGroupChanged(item.key)">{{item.key}}</button></li>
              </ul>
            </div>
          </div>
        </div> -->



        <li class="nav-item">
          <a class="nav-link"  [ngClass]="{'active': (isActive == 'Business Hours')}" (click)="(isActive = 'Business Hours')" routerLink="/businessHours">
              <i-users></i-users>
            Business Hours
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [ngClass]="{'active': (isActive == 'Marketing')}" (click)="(isActive = 'Marketing')" routerLink="/settings">
              <i-layers></i-layers>
            Marketing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [ngClass]="{'active': (isActive == 'Settings')}" (click)="(isActive = 'Settings')" routerLink="/settings">
              <i-layers></i-layers>
            Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': (isActive == 'CustomerCare')}" data-toggle="collapse" href="#customerCareCollapse" role="button" aria-expanded="false" aria-controls="customerCareCollapse">
              <i-bar-chart-2></i-bar-chart-2>
              Cutomer Care
            </a>      
        </li>

        <div class="collapse" id="customerCareCollapse">
            <div class="card card-body menu-collapse">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link  clr-gray" target="_blank" href="https://clorder.zendesk.com/hc/en-us">
                            Clorder Zendesk
                        </a>
                    </li>
             
                  </ul> 
              </div>
          </div>
      </ul>
    </div>

    <div class="sidebar-sticky"    *ngIf="(dashboardService.menuItemsCategory)">
          <!-- <button class="btn btn-secondary nav-item" (click)="dashboardService.menuItemsCategory = null">Back</button> -->
          <!-- <a class="nav-link" (click)="dashboardService.menuItemsCategory = null">
            <i-arrow-left></i-arrow-left>Menu
        </a> -->
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link  clr-gray"  routerLink="/home">
                    <i-arrow-left></i-arrow-left>HOME
                </a>
            </li>
            <!-- <li *ngFor="let item of this.dashboardService.menuItemsCategory" class="nav-item">
              <button type="button" style="background: none;" class="nav-link" 
              (click)="selectedGroupChanged(item.key)">{{item.key}}</button></li> -->
          </ul>
        <!-- <h3 class="nav-item" >Menu</h3> -->
      <ul class="nav flex-column">
        <h3>Menu</h3>
        <li class="nav-item" *ngFor="let item of this.dashboardService.menuItemsCategory" >
          <a class="nav-link clr-gray" (click)="selectedGroupChanged(item.key)">
              {{item.key}}
          </a>
        </li>
        <!-- <li *ngFor="let item of this.dashboardService.menuItemsCategory" class="nav-item">
          <button type="button" style="background: none;" class="nav-link" 
          (click)="selectedGroupChanged(item.key)">{{item.key}}</button></li> -->
      </ul>
    </div>
  </nav>

