
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12" style="padding-left: 0px !important">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="pd-10 mg-20">
                        <div class="dropdown w-200 mb-20">
                            <div class="row pl-147">
                                    <button type="button" class="btn btn-primary col-md-2 mr-10">All</button>
                                    <button type="button" class="btn btn-success col-md-2  mr-10">Processed</button>
                                    <button type="button" class="btn btn-danger col-md-2">Cancelled</button>
                                    
                            </div>
                        </div>
                </div>
              <h4 class="c-grey-900 mB-20">Orders</h4>
              <div id="dataTable_wrapper" class="dataTables_wrapper">
                  <table *ngIf="ordersData"  [mfData]="ordersData.data" #mf="mfDataTable" [mfRowsOnPage]="10" id="dataTable" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                      <thead>
                          <tr role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 203px;">            
                                  <mfDefaultSorter by="orderNo">Order</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 302px;">
                                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 153px;">
                                    <mfDefaultSorter by="orderDate">Order Date</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 58px;">
                                    <mfDefaultSorter by="subTotalAmount">Sub-Total Amount</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 133px;">
                                    <mfDefaultSorter by="deliveryAmount">Delivery Amount</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 153px;">
                                    <mfDefaultSorter by="taxAmount">Tax Amount</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 58px;">
                                    <mfDefaultSorter by="totalAmount">Total Amount</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 133px;">
                                    <mfDefaultSorter by="creditCardPayment">Credit Card Payment</mfDefaultSorter>
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 126px;">
                                    <mfDefaultSorter>Options</mfDefaultSorter>
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr role="row" *ngFor="let item of mf.data">
                              <td class="sorting_1">{{item.orderNo}}</td>
                              <td>{{item.email}}</td>
                              <td>{{item.orderDate}}</td>
                              <td>{{item.subTotalAmount}}</td>
                              <td>{{item.deliveryAmount}}</td>
                              <td>{{item.taxAmount}}</td>
                              <td>{{item.totalAmount}}</td>
                              <td>{{item.creditCardPayment}}</td>
                              <td><i-star></i-star></td>
                          </tr>
                      </tbody>
                      <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                       </tfoot> 
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>