

<div class="container-fluid bgc-white pd-10">
    <div class="pd-10 mg-20">
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Regular Hours</b></ng-template>
                <ng-template ngbTabContent>
                    <app-regular-hours></app-regular-hours>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Special Hours</b></ng-template>
                <ng-template ngbTabContent>
                        <app-special-hours></app-special-hours>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
