.menu-button, .menu-button:focus {
    border: none;
    background: none;
    color: red;
}

#menuModalCenter input {
    border: none;
    font-size: 16px;
    padding: 10px;
}

.menu-card-header {
    width: 100%;
    border-bottom: none;
}   

#menuModalCenter textarea {
    width: 100%;
    border: none;
    height: 98px;
}

.mg-bt-20 {
    margin-bottom: 20px;
}