.menu-button, .menu-button:focus {
    border: none;
    background: none;
    color: red;
}

#exampleModalCenter input {
    border: none;
    font-size: 16px;
    padding: 10px;
}

.menu-card-header {
    width: 100%;
    border-bottom: none;
}   

#exampleModalCenter textarea {
    width: 100%;
    border: none;
    height: 98px;
}