<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding-left: 0px !important">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                  <app-search #search (searched)="onSearch($event)"></app-search>
                <h4 class="c-grey-900 mB-20">Summary</h4>
                <div id="dataTable_wrapper" class="dataTables_wrapper">
                    <table *ngIf="billingSummaryData"  [mfData]="billingSummaryData" #mf="mfDataTable" [mfRowsOnPage]="10" id="dataTable" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 203px;">            
                                    <mfDefaultSorter by="type">Type</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 153px;">
                                      <mfDefaultSorter by="orders">Orders</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 153px;">
                                      <mfDefaultSorter by="subTotal">Sub Total</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 78px;">
                                      <mfDefaultSorter by="tax">Tax</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 133px;">
                                      <mfDefaultSorter by="delivery">Delivery</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 153px;">
                                      <mfDefaultSorter by="tip">Tip</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 58px;">
                                      <mfDefaultSorter by="discount">Discount</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 133px;">
                                      <mfDefaultSorter by="donation">Donation</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 126px;">
                                      <mfDefaultSorter by="ccFeww">CC Fee</mfDefaultSorter>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 133px;">
                                    <mfDefaultSorter by="total">Total</mfDefaultSorter>
                              </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" *ngFor="let item of mf.data">
                                <td class="sorting_1">{{item.type}}</td>
                                <td>{{item.orders}}</td>
                                <td>{{item.subTotal}}</td>
                                <td>{{item.tax}}</td>
                                <td>{{item.delivery}}</td>
                                <td>{{item.tip}}</td>
                                <td>{{item.discount}}</td>
                                <td>{{item.donation}}</td>
                                <td>{{item.ccFee}}</td>
                                <td>{{item.total}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                              <tr>
                                  <td colspan="12">
                                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                  </td>
                              </tr>
                         </tfoot> 
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>