<div class="container-fluid bgc-white pd-10">
  <div class="pd-10 mg-20">
      <ngb-tabset>
          <ngb-tab>
              <ng-template ngbTabTitle><b>Billing Summary</b></ng-template>
              <ng-template ngbTabContent>
                  <app-billing-summary></app-billing-summary>
              </ng-template>
          </ngb-tab>
          <ngb-tab>
              <ng-template ngbTabTitle><b>Billing Statements</b></ng-template>
              <ng-template ngbTabContent>
                <app-billing-statements></app-billing-statements>
              </ng-template>
          </ngb-tab>
      </ngb-tabset>
  </div>
</div>