<!-- <div class="container-fluid bgc-white pd-10">
    <div class="pd-10 mg-20">
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Operations</b></ng-template>
                <ng-template ngbTabContent>
                    <app-operations></app-operations>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Profile</b></ng-template>
                <ng-template ngbTabContent>
                    <app-profile></app-profile>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Delivery Polygon</b></ng-template>
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div> -->


<div class="container-fluid bgc-white pd-10 custom-bg">
        <div class="pd-10 mg-20">
            <div class="row">
    
                <div class=" col-lg-4 mg-bt-20"><a routerLink="/settings/operations"> 
                    <div class="card  light">
                        <h5 class="ta-c custom-icon"><i-list class="big"></i-list></h5>
                        <div class="card-body menu-card-body">
                            <p class="ta-c card-text menu-card-text custom-name">Operations</p>
                        </div>
                    </div></a>
                </div><br/> 
                    
                   <div class=" col-lg-4 mg-bt-20"><a routerLink="/settings/profile"> 
                        <div class="card  light">
                            <h5 class="ta-c custom-icon"><i-file class="big"></i-file></h5>
                            <div class="card-body menu-card-body">
                                <p class="ta-c card-text menu-card-text custom-name">Profile</p>
                            </div>
                        </div></a>
                    </div><br/>  
                    
                    <div class=" col-lg-4  mg-bt-20"><a routerLink="/settings/deliveryPolygon"> 
                        <div class="card  light">
                            <h5 class="ta-c custom-icon"><i-users class="big"></i-users></h5>
                            <div class="card-body menu-card-body">
                                <p class="ta-c card-text menu-card-text custom-name">Delivery Polygon</p>
                            </div>
                        </div></a>

     
                    
            </div>
        </div>
    </div>