

.mr-20{
    margin-right: 20px;
}

.menu-button, .menu-button:focus {
    border: 2px solid lightgray;
    background: none;
    color: red;
    font-weight: 700;
    width: 200px;
    padding: 10px;
}

.big {
    height: 80px;
    width: 80px;
  }


  .custom-icon{
    margin-bottom: 0px;
    padding-top: 10px;
  }

  .custom-name{
    font-size:20px;
    font-weight: bold;
  }

  .custom-bg{
    height: -webkit-fill-available;
  }

  /* a{
    color: #72777a !important;
  } */

  .mt-100{
    margin-top: 100px;
  }

