<div class="container-fluid bgc-white pd-10">
    <div class="pd-10 mg-20">
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Operations</b></ng-template>
                <ng-template ngbTabContent>
                    <app-operations></app-operations>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Profile</b></ng-template>
                <ng-template ngbTabContent>
                    <app-profile></app-profile>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b>Delivery Polygon</b></ng-template>
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>